<div ng-app="CustomerApp">
    <h2>Customers</h2>
    <h3>List of all customers</h3>
    <div ng-controller="CustomerCtrl">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Last Name</th>
                    <th>First Name</th>
                    <th>City</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="customer in customers | orderBy: 'LastName'">
                    <td>{{customer.CustomerId}}</td>
                    <td>{{customer.LastName}}</td>
                    <td>{{customer.FirstName}}</td>
                    <td>{{customer.City}}</td>
                    <td>{{customer.Country}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script>
        var app = angular.module("CustomerApp", []);

        app.controller("CustomerCtrl", function ($scope, $http) {
            $http.get('api/Customer').
              success(function (data, status, headers, config) {
                  $scope.customers = data;

              }).
              error(function (data, status, headers, config) {
                  console.log('CustomerCtrl error');
              });
        });
    </script>
}